.horizontal-nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.horizontal-nav-ui {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-nav-li {
    display: inline;
    position: relative;
}

.horizontal-nav-li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.horizontal-nav-li a:hover,
.horizontal-nav-li a.active {
    background-color: rgba(100, 100, 100, 0.7);
    color: #fff;
}

.horizontal-nav-li:not(:last-child):after {
    content: "|";
    color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
