<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morris Health Services</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>

<header>
    <h1>Morris Health Services Application</h1>
</header>
{% include "navBar.html" %}
<div>
    {% block content %}
    {% endblock content %}

</div>
{% include 'statusMsg.html' %}
</body>
</html>

