{% extends 'home.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/employee.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 vertical-nav-col">
            <div class="list-group">
                <a href="{% url 'view_patient' %}" class="list-group-item list-group-item-action " id="viewPatients">All Patients</a>
                <a href="{% url 'add_patient' %}" class="list-group-item list-group-item-action" id="addPatient">Add Patient</a>
                <a href="{% url 'edit_patient' %}" class="list-group-item list-group-item-action" id="editAppointments">Edit Patient</a>
                <a href="{% url 'view_appointment' %}" class="list-group-item list-group-item-action" id="viewAppointments">All Appointments</a>
                <a href="{% url 'make_appointment' %}" class="list-group-item list-group-item-action active-tab" id="makeAppointment">Create Appointment</a>
                <a href="{% url 'update_appointment' %}" class="list-group-item list-group-item-action" id="updateAppointment">Update Appointment</a>
                <a href="{% url 'daily_inv' %}" class="list-group-item list-group-item-action" id="invPatient">Invoices</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card mt-8">
                            <div class="card-body">
                                <center><h5>Create New Appointment</h5></center>
                                <br><br>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                    <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="patient_id">Patient ID:</label>
                                        <select class="form-control" id="patient_id" name="patient_id" required>
                                            <option value="" disabled selected>Select</option>
                                            {% for patient in patients %}
                                                <option value="{{ patient.Patient_ID }}">{{ patient.Patient_ID }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                    </div></div>
                                    <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="doctor_id">Doctor ID:</label>
                                        <select class="form-control" id="doctor_id" name="doctor_id" required>
                                            <option value="" disabled selected>Select</option>
                                            {% for doctor in doctors %}
                                                <option value="{{ doctor.EmployeeID }}">{{ doctor.EmployeeID }}</option>
                                            {% endfor %}
                                        </select>
                                    </div></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="facility_id">Facility ID:</label>
                                                    <select class="form-control" id="facility_id" name="facility_id" required>
                                                        <option value="" disabled selected>Select</option>
                                                        {% for facility in facilities %}
                                                            <option value="{{ facility.Facility_ID }}">{{ facility.Facility_ID }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    
                                    <div class="row">
                                    <div class="col-md-4">
                                    <div class="form-group">
                                        
                                        <label for="appointment_date">Date:</label>
                                        <input class="form-control" type="date" id="appointment_date" name="appointment_date" required>
                                        
                                    </div></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            
                                            <label for="reason">Description:</label>
                                            <input class="form-control" type="text" id="reason" name="reason" required>
                                            
                                        </div></div>
                                    <div class="col-md-4">
                                    <div class="form-group">
                                        
                                        <label for="appointment_time">Time:</label>
                                        <input class="form-control" type="time" id="appointment_time" name="appointment_time" required>

                                    </div></div> </div><center>
                                   <button type="submit" class="btn btn-secondary">Schedule</button> 
                                   <br><br>
                                </center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
