{% extends 'home.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/employee.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 vertical-nav-col">
            <div class="list-group">
                <a href="{% url 'view_patient' %}" class="list-group-item list-group-item-action " id="viewPatients">All Patients</a>
                <a href="{% url 'add_patient' %}" class="list-group-item list-group-item-action" id="addPatient">Add Patient</a>
                <a href="{% url 'view_appointment' %}" class="list-group-item list-group-item-action" id="viewAppointments">All Appointments</a>
                <a href="{% url 'make_appointment' %}" class="list-group-item list-group-item-action " id="makeAppointment">Create Appointment</a>
                <a href="{% url 'update_appointment' %}" class="list-group-item list-group-item-action active-tab" id="updateAppointment">Update Appointment</a>
                <a href="{% url 'daily_inv' %}" class="list-group-item list-group-item-action" id="invPatient">Invoices</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card mt-8">
                            <div class="card-body">
                                <center><h5>Update Appointment Cost</h5></center>
                                <br><br>
                                <form method="GET">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="patient_id">Patient ID:</label>
                                                <select class="form-control" id="patient_id" name="patient_id" required>
                                                    <option value="" disabled {% if not appointment %}selected{%endif%}>Select</option>
                                                    {% for patient in patients %}
                                                        <option value="{{ patient.Patient_ID }}" {% if appointment.Pat_ID|stringformat:"s" == patient.Patient_ID %}selected{% endif %}>{{ patient.Patient_ID }}</option>
                                                    {% endfor %}
                                                </select></div></div>
                                    <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="doctor_id">Doctor ID:</label>
                                        <select class="form-control" id="doctor_id" name="doctor_id" required>
                                            <option value="" disabled {% if not appointment %}selected{%endif%}>Select</option>
                                            {% for doctor in doctors %}
                                                <option value="{{ doctor.EmployeeID }}" {% if appointment.Doc_ID|stringformat:"s" == doctor.EmployeeID %}selected{% endif %}>{{ doctor.EmployeeID }}</option>
                                            {% endfor %}
                                        </select>
                                    </div></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="facility_id">Facility ID:</label>
                                                    <select class="form-control" id="facility_id" name="facility_id" required>
                                                        <option value="" disabled {% if not appointment %}selected{%endif%} selected>Select</option>
                                                        {% for facility in facilities %}
                                                            <option value="{{ facility.Facility_ID }}" {% if appointment.Fac_ID|stringformat:"s" == facility.Facility_ID|stringformat:"s" %}selected{% endif %}>{{ facility.Facility_ID }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="justify-content: space-around;">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="appointment_date">Appointment Date:</label>
                                                <input type="date" class="form-control" id="appointment_date" name="appointment_date" value="{% if appointment %}{{appointment.appointment_date_str}}{% endif %}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="appointment_time">Appointment Time:</label>
                                                <input type="time" class="form-control" id="appointment_time" name="appointment_time" value="{% if appointment %}{{appointment.appointment_time_str}}{% endif %}" required>
                                            </div>
                                        </div>
                                    </div>
                                     <center><button type="submit" class="btn btn-secondary">Find Appointment</button></center>
                                     <br><br>
                                </form>
                                {% if appointment %}
                            
                                <form method="POST">
                                    <input type="hidden" name="patient_id" value="{% if appointment %}{{ appointment.Pat_ID }}{% endif %}">
                                    <input type="hidden" name="doctor_id" value="{% if appointment %}{{ appointment.Doc_ID }}{% endif %}">
                                    <input type="hidden" name="facility_id" value="{% if appointment %}{{ appointment.Fac_ID }}{% endif %}">
                                    <input type="hidden" name="appointment_date" value="{% if appointment %}{{ appointment.appointment_date_str }}{% endif %}">
                                    <input type="hidden" name="appointment_time" value="{% if appointment %}{{ appointment.appointment_time_str }}{% endif %}">

                                    {% csrf_token %}
                                    <center><div class="row" style="justify-content: space-around;">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="cost">Cost of the Appointment:</label>
                                                <input type="number" class="form-control" id="cost" name="cost" value="" required>
                                            </div>
                                        </div></div>
                                        <button type="submit" class="btn btn-secondary">Completed</button></center>
                                </form>
                                <br><br>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
